<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxxfydj.mapper.CodeInfoMapper">
    <resultMap id="baseResultMap" type="com.kxxfydj.entity.CodeInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="projectName" jdbcType="VARCHAR" property="projectName"/>
        <result column="repository" jdbcType="VARCHAR" property="repository"/>
        <result column="language" jdbcType="VARCHAR" property="language"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="filePath" jdbcType="VARCHAR" property="filePath"/>
        <result column="stars" jdbcType="INTEGER" property="stars"/>
        <result column="gitPath" jdbcType="VARCHAR" property="gitPath"/>
        <result column="repositoryId" jdbcType="INTEGER" property="repositoryId"/>
        <result column="author" jdbcType="VARCHAR" property="author"/>
    </resultMap>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into codeinfo(projectName,
        repository,
        language,
        description,
        filePath,
        stars,
        gitPath,
        repositoryId,
        author) VALUES
        <foreach collection="list" item="codeInfo" separator=",">
            (
            #{codeInfo.projectName,jdbcType=VARCHAR},
            #{codeInfo.repository,jdbcType=VARCHAR},
            #{codeInfo.language,jdbcType=VARCHAR},
            #{codeInfo.description,jdbcType=VARCHAR},
            #{codeInfo.filePath,jdbcType=VARCHAR},
            #{codeInfo.stars,jdbcType=INTEGER},
            #{codeInfo.gitPath,jdbcType=VARCHAR},
            #{codeInfo.repositoryId,jdbcType=INTEGER},
            #{codeInfo.author,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>


    <delete id="truncateTable">
        truncate TABLE codeinfo;
    </delete>

    <delete id="deleteByProjectName">
        DELETE from table codeinfo where projectName = #{projectName};
    </delete>

    <select id="selectAll" resultMap="baseResultMap">
        select * from codeinfo;
    </select>

    <select id="selectByRepository" resultMap="baseResultMap">
        select * from codeinfo WHERE repository = #{repository};
    </select>

    <select id="selectByProjectNameAndRepository" resultMap="baseResultMap">
        select * from codeinfo where projectName = #{projectName} AND repository = #{repository};
    </select>

    <select id="selectByProjectName" resultMap="baseResultMap">
        SELECT * from codeinfo where projectName = #{projectName}
    </select>

    <select id="selectByProjectNameAndLanguage" resultMap="baseResultMap">
        SELECT * from codeinfo where projectName = #{projectName} AND language = #{language};
    </select>

    <select id="selectByGitPath" resultMap="baseResultMap">
        SELECT * from codeinfo where gitPath = #{gitPath};
    </select>

    <insert id="insertOrUpdate" parameterType="java.util.List">
        INSERT INTO codeinfo(id,projectName,repository,language,description,filePath,stars,gitPath,repositoryId,author) values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id,jdbcType=INTEGER},
            #{item.projectName,jdbcType=VARCHAR},
            #{item.repository,jdbcType=VARCHAR},
            #{item.language,jdbcType=INTEGER},
            #{item.description,jdbcType=VARCHAR},
            #{item.filePath,jdbcType=VARCHAR},
            #{item.stars,jdbcType=INTEGER},
            #{item.gitPath,jdbcType=VARCHAR},
            #{item.repositoryId,jdbcType=INTEGER},
            #{item.author,jdbcType=VARCHAR}
            )
        </foreach>
        on DUPLICATE KEY UPDATE
        <trim prefix="stars = case" suffix="end,">
            <foreach collection="list" item="item">
                <if test="item.stars!=null">
                    when projectName=#{item.projectName} and repository=#{item.repository} then #{item.stars}
                </if>
            </foreach>
        </trim>
        <trim prefix="filePath = case" suffix="end,">
            <foreach collection="list" item="item">
                <if test="item.filePath!=null">
                    when projectName=#{item.projectName} and repository=#{item.repository} then #{item.filePath}
                </if>
            </foreach>
        </trim>
        <trim prefix="description = case" suffix="end">
            <foreach collection="list" item="item">
                <if test="item.description!=null">
                    when projectName=#{item.projectName} and repository=#{item.repository} then #{item.description}
                </if>
            </foreach>
        </trim>
    </insert>
</mapper>