<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxxfydj.mapper.CodeContentMapper">
    <resultMap id="baseResultMap" type="com.kxxfydj.entity.CodeContent">
        <id column="path" jdbcType="VARCHAR" property="path"/>
        <result column="body" jdbcType="VARCHAR" property="body"/>
        <result column="codeinfoId" jdbcType="INTEGER" property="codeInfoId"/>
        <result column="addTime" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="fatherPath" jdbcType="VARCHAR" property="fatherPath"/>
        <result column="enabled" jdbcType="TINYINT" property="enabled"/>
    </resultMap>

    <select id="selectAll" resultMap="baseResultMap">
        SELECT * from codecontent;
    </select>

    <select id="selectFileByCodeInfoId" resultType="java.lang.String">
        SELECT path from codecontent where codeinfoId = #{codeInfoId};
    </select>

    <select id="selectFile" resultMap="baseResultMap">
        SELECT * from codecontent WHERE path = #{path};
    </select>

    <select id="selectChildren" resultMap="baseResultMap">
        SELECT * from codecontent where path LIKE #{path} + "%" AND enabled = 1;
    </select>

    <select id="selectFather" resultMap="baseResultMap">
        select * from codecontent AS c where #{path} LIKE c.path + "%" AND enabled = 1;
    </select>

    <select id="selectAncestor" resultMap="baseResultMap">
        SELECT * from codecontent where fatherPath = #{fatherPath} and enabled = 1;
    </select>

    <insert id="insert" parameterType="com.kxxfydj.entity.CodeContent">
        INSERT into codecontent
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="path != null">
                path,
            </if>
            <if test="body != null">
                body,
            </if>
            <if test="codeInfoId != null">
                codeinfoId,
            </if>
            <if test="fatherPath != null">
                fatherPath,
            </if>
            <if test="enabled != null">
                enabled
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="path != null">
                #{path},
            </if>
            <if test="body != null">
                #{body},
            </if>
            <if test="codeInfoId != null">
                #{codeInfoId},
            </if>
            <if test="fatherPath != null">
                #{fatherPath}
            </if>
            <if test="enabled != null">
                #{enabled}
            </if>
        </trim>
    </insert>
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT into codecontent(
        path,
        body,
        codeinfoId,
        fatherPath,
        enabled
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.path,jdbcType=VARCHAR},
            #{item.body,jdbcType=VARCHAR},
            #{item.codeInfoId,jdbcType=INTEGER},
            #{item.fatherPath,jdbcType=VARCHAR},
            #{item.enabled,jdbcType=TINYINT}
            )
        </foreach>
    </insert>

    <update id="update" parameterType="com.kxxfydj.entity.CodeContent">
        update codecontent SET body = #{body} where path = #{path};
    </update>

    <update id="batchUpdate" parameterType="java.util.List">
        update codecontent
        <trim prefix="set" suffixOverrides=",">

            <trim prefix="body =case" suffix="end,">
                <foreach collection="list" item="item">
                    <if test="item.body!=null">
                        when path=#{item.path} then #{item.body}
                    </if>
                </foreach>
            </trim>
            <trim prefix="fatherPath =case" suffix="end,">
                <foreach collection="list" item="item">
                    <if test="item.fatherPath!=null">
                        when path=#{item.path} then #{item.fatherPath}
                    </if>
                </foreach>
            </trim>
            <trim prefix="enabled =case" suffix="end,">
                <foreach collection="list" item="item">
                    <if test="item.enabled!=null">
                        when path=#{item.path} then #{proxy.enabled}
                    </if>
                </foreach>
            </trim>
        </trim>
        <where>
            path in (
            <foreach collection="list" separator="," item="item">
                #{item.path}
            </foreach>
            )
        </where>
    </update>

    <insert id="saveOrUpdate" parameterType="java.util.List">
        INSERT INTO codecontent(path,body,codeinfoId,fatherPath,enabled) values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.path,jdbcType=VARCHAR},
            #{item.body,jdbcType=VARCHAR},
            #{item.codeInfoId,jdbcType=INTEGER},
            #{item.fatherPath,jdbcType=VARCHAR},
            #{item.enabled,jdbcType=TINYINT}
            )
        </foreach>
        on DUPLICATE KEY UPDATE
        <trim prefix="body = case" suffix="end,">
            <foreach collection="list" item="item">
                <if test="item.path!=null">
                    when path=#{item.path} then #{item.body}
                </if>
            </foreach>
        </trim>
        <trim prefix="fatherPath = case" suffix="end,">
            <foreach collection="list" item="item">
                <if test="item.fatherPath!=null">
                    when path=#{item.path} then #{item.fatherPath}
                </if>
            </foreach>
        </trim>
        <trim prefix="enabled = case" suffix="end">
            <foreach collection="list" item="item">
                <if test="item.enabled!=null">
                    when path=#{item.path} then #{item.enabled}
                </if>
            </foreach>
        </trim>
    </insert>

    <insert id="saveOrUpdateOne" parameterType="com.kxxfydj.entity.CodeContent">
        INSERT INTO codecontent(path,body,codeinfoId,fatherPath,enabled) values
            (
            #{path,jdbcType=VARCHAR},
            #{body,jdbcType=VARCHAR},
            #{codeInfoId,jdbcType=INTEGER},
            #{fatherPath,jdbcType=VARCHAR},
            #{enabled,jdbcType=TINYINT}
            )
        on DUPLICATE KEY UPDATE
        body = #{body},fatherPath = #{fatherPath},enabled = #{enabled};
        <!--<trim prefix="body = case" suffix="end,">-->
            <!--<foreach collection="list" item="item">-->
                <!--<if test="item.path!=null">-->
                    <!--when path=#{item.path} then #{item.body}-->
                <!--</if>-->
            <!--</foreach>-->
        <!--</trim>-->
        <!--<trim prefix="fatherPath = case" suffix="end,">-->
            <!--<foreach collection="list" item="item">-->
                <!--<if test="item.fatherPath!=null">-->
                    <!--when path=#{item.path} then #{item.fatherPath}-->
                <!--</if>-->
            <!--</foreach>-->
        <!--</trim>-->
        <!--<trim prefix="enabled = case" suffix="end">-->
            <!--<foreach collection="list" item="item">-->
                <!--<if test="item.enabled!=null">-->
                    <!--when path=#{item.path} then #{item.enabled}-->
                <!--</if>-->
            <!--</foreach>-->
        <!--</trim>-->
    </insert>
</mapper>