<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxxfydj.mapper.CodeRepositoryMapper">
    <resultMap id="baseResultMap" type="com.kxxfydj.entity.CodeRepository">
        <result column="repositoryName" jdbcType="VARCHAR" property="repositoryName"/>
        <result column="projectCount" jdbcType="INTEGER" property="projectCount"/>
        <result column="condition" jdbcType="VARCHAR" property="condition"/>
    </resultMap>

    <select id="selectByName" resultMap="baseResultMap">
        SELECT * from coderepository where repositoryName = #{repositoryName};
    </select>

    <insert id="insert" parameterType="com.kxxfydj.entity.CodeRepository">
        INSERT INTO coderepository
        <trim prefix = "(" suffix=")" suffixOverrides=",">
            repositoryName,projectCount,
            <if test="condition != null">
                condition
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            #{repositoryName,jdbcType=VARCHAR},
            #{projectCount,jdbcType=INTEGER},
            <if test="condition != null">
                #{condition,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>

    <select id="selectByNameAndCondition" resultMap="baseResultMap">
        select * from coderepository where repositoryName = #{repositoryName}
        <if test="condition != null">
            and condition = #{condition}
        </if>
    </select>

    <update id="updateCodeRepository" parameterType="com.kxxfydj.entity.CodeRepository">
        UPDATE coderepository SET projectCount = #{projectCount} where repositoryName = #{repositoryName}
         <if test="condition != null">
             and condition = #{condition}
         </if>
    </update>
</mapper>