<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxxfydj.mapper.CodeRepositoryMapper">
    <resultMap id="baseResultMap" type="com.kxxfydj.entity.CodeRepository">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="repositoryName" jdbcType="VARCHAR" property="repositoryName"/>
        <result column="projectCount" jdbcType="INTEGER" property="projectCount"/>
        <result column="crawlerName" jdbcType="VARCHAR" property="crawlerName"/>
        <result column="filterCount" jdbcType="INTEGER" property="filterCount"/>
        <result column="urlCondition" jdbcType="VARCHAR" property="urlCondition"/>
        <result column="isUpdate" jdbcType="TINYINT" property="isUpdate"/>
    </resultMap>

    <select id="selectAll" resultMap="baseResultMap">
        SELECT * from coderepository;
    </select>

    <select id="selectUpdate" resultMap="baseResultMap">
        SELECT * from coderepository where isUpdate = 1;
    </select>

    <select id="selectInsert" resultMap="baseResultMap">
        SELECT * from coderepository where isUpdate = 0;
    </select>

    <select id="selectByName" resultMap="baseResultMap">
        SELECT * from coderepository where repositoryName = #{repositoryName};
    </select>

    <insert id="insert" parameterType="com.kxxfydj.entity.CodeRepository">
        INSERT INTO coderepository
        <trim prefix = "(" suffix=")" suffixOverrides=",">
            repositoryName,projectCount,
            <if test="filterCount != null">
                filterCount,
            </if>
            <if test="urlCondition != null">
                urlCondition
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            #{repositoryName,jdbcType=VARCHAR},
            #{projectCount,jdbcType=INTEGER},
            <if test="filterCount != null">
                #{filterCount,jdbcType=INTEGER},
            </if>
            <if test="urlCondition != null">
                #{urlCondition,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>

    <select id="selectByNameAndCondition" resultMap="baseResultMap">
        select * from coderepository where repositoryName = #{repositoryName}
        <if test="urlCondition != null">
            and urlCondition = #{urlCondition}
        </if>
    </select>

    <update id="updateCodeRepository" parameterType="com.kxxfydj.entity.CodeRepository">
        UPDATE coderepository SET projectCount = #{projectCount} where repositoryName = #{repositoryName}
         <if test="urlCondition != null">
             and urlCondition = #{urlCondition}
         </if>
    </update>
</mapper>